{% extends "clasificacion/layout.html" %}
{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Clasificación especificando hashtags</h1>
</div>
<br>
<form action="{% url 'hashtag' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <label for="cantidad">Escriba un Hashtag</label>
            <input type="text" class="form-control" name="hashtag" placeholder="#Hashtag" required>
            <small class="form-text text-muted">
                Ejemplo: #Covid_19ec · #GuayaquilSOS · #COVID19Ecuador
            </small>
        </div>
        <div class="col">
            <label for="cantidad">Cantidad de tweets a analizar</label>
            <select id="cantidad" class="form-control" name="cantidad">
                <option selected value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col"> <label>Desde</label></div>
    </div>
    <div class="row">
        <!-- Desde-->
        <div class="form-group col-md-2">
            <label for="mesDesde" class="mini"><small>Mes</small></label>
            <select id="mesDesde" class="form-control" name="mesDesde">
                <option selected value="01">enero</option>
                <option value="02">febrero</option>
                <option value="03">marzo</option>
                <option value="04">abril</option>
                <option value="05">mayo</option>
                <option value="06">junio</option>
                <option value="07">julio</option>
                <option value="08">agosto</option>
                <option value="09">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="diaDesde" class="mini"><small>Día</small></label>
            <select id="diaDesde" class="form-control" name="diaDesde">
                <option selected value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="anioDesde" class="mini"><small>Año</small></label>
            <select id="anioDesde" class="form-control" name="anioDesde">
                <option selected value="2021">2021</option>
                <option value="2020">2020</option>
            </select>
        </div>

        <div class="form-group col">
            <label for="model">Modelo</label>
            <select id="model" class="form-control" name="model">
                <option selected value="lg">Logistic Regression</option>
                <option value="lstm">Neural network LSTM</option>
            </select>
        </div>

    </div>
    <input type="submit" class="btn btn-primary" value="Clasificar tweets">
</form>

<br>
<br>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Resultados</h1>
</div>
<br>

<div>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ayuda-tab" data-toggle="tab" href="#ayuda" role="tab"
                        aria-controls="ayuda" aria-selected="true">Pedidos de ayuda</a>
                </li>
                <!--  <li class="nav-item" role="presentation">
                    <a class="nav-link" id="quejas-tab" data-toggle="tab" href="#quejas" role="tab"
                        aria-controls="quejas" aria-selected="false">Quejas</a>
                </li> -->
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ofertas-tab" data-toggle="tab" href="#ofertas" role="tab"
                        aria-controls="ofertas" aria-selected="false">Ofertas</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ninguna-tab" data-toggle="tab" href="#ninguna" role="tab"
                        aria-controls="ninguna" aria-selected="false">Tweets que no pertenecen a ninguna</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="ayuda" role="tabpanel" aria-labelledby="ayuda-tab">
                    <div class="container-sm">
                        <div class="row">
                            {% for pedido in pedidosAyuda %}
                            <div class="col-sm-3">
                                <blockquote class="twitter-tweet">
                                    <p lang="es" dir="ltr"><a href="{{ pedido }}"></a>
                                </blockquote>
                            </div>
                            {% empty %}
                            <small>No hay tweets que mostrar</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- <div class="tab-pane fade" id="quejas" role="tabpanel" aria-labelledby="quejas-tab">
                    <div class="container-sm">
                        <div class="row">
                            {% for queja in quejas %}
                            <div class="col-sm-3">
                                <blockquote class="twitter-tweet">
                                    <p lang="es" dir="ltr"><a href="{{ queja }}"></a>
                                </blockquote>
                            </div>
                            {% empty %}
                            <small>No hay tweets que mostrar</small>
                            {% endfor %}
                        </div>
                    </div>
                </div> -->

                <div class="tab-pane fade" id="ofertas" role="tabpanel" aria-labelledby="ofertas-tab">
                    <div class="container-sm">
                        <div class="row">
                            {% for oferta in ofertas %}
                            <div class="col-sm-3">
                                <blockquote class="twitter-tweet">
                                    <p lang="es" dir="ltr"><a href="{{ oferta }}"></a>
                                </blockquote>
                            </div>
                            {% empty %}
                            <small>No hay tweets que mostrar</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="ninguna" role="tabpanel" aria-labelledby="ninguna-tab">
                    <div class="container-sm">
                        <div class="row">
                            {% for ning in ninguna %}
                            <div class="col-sm-3">
                                <blockquote class="twitter-tweet">
                                    <p lang="es" dir="ltr"><a href="{{ ning }}"></a>
                                </blockquote>
                            </div>
                            {% empty %}
                            <small>No hay tweets que mostrar</small>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<br>



{% endblock %}