{% extends "clasificacion/layout.html" %}
{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Clasificación especificando hashtags</h1>
</div>
<br>
<form  action="{% url 'hashtag' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <label for="cantidad">Escriba un Hashtag</label>
            <input type="text" class="form-control" name="hashtag" placeholder="#Hashtag" required>
            <small class="form-text text-muted">
                Ejemplo: #Covid_19ec · #GuayaquilSOS · #COVID19Ecuador
            </small>
        </div>
        <div class="col">
            <label for="cantidad">Cantidad de tweets a analizar</label>
            <select id="cantidad" class="form-control" name="cantidad">
                <option selected value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col"> <label>Desde</label></div>
        <div class="col"><label>Hasta</label></div>
    </div>
    <div class="row">
        <!-- Desde-->
        <div class="form-group col-md-2">
            <label for="mesDesde" class="mini"><small>Mes</small></label>
            <select id="mesDesde" class="form-control" name="mesDesde">
                <option value="enero">enero</option>
                <option value="febrero">febrero</option>
                <option selected value="marzo">marzo</option>
                <option value="abril">abril</option>
                <option value="mayo">mayo</option>
                <option value="junio">junio</option>
                <option value="julio">julio</option>
                <option value="agosto">agosto</option>
                <option value="septiembre">septiembre</option>
                <option value="octubre">octubre</option>
                <option value="noviembre">noviembre</option>
                <option value="diciembre">diciembre</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="diaDesde" class="mini"><small>Día</small></label>
            <select id="diaDesde" class="form-control" name="diaDesde">
                <option selected value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="anioDesde" class="mini"><small>Año</small></label>
            <select id="anioDesde" class="form-control" name="anioDesde">
                <option value="2021">2021</option>
                <option selected value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
            </select>
        </div>
        <!-- Hasta-->
        <div class="form-group col-md-2">
            <label for="mesHasta" class="mini"><small>Mes</small></label>
            <select id="mesHasta" class="form-control" name="mesHasta">
                <option value="enero">enero</option>
                <option value="febrero">febrero</option>
                <option value="marzo">marzo</option>
                <option selected value="abril">abril</option>
                <option value="mayo">mayo</option>
                <option value="junio">junio</option>
                <option value="julio">julio</option>
                <option value="agosto">agosto</option>
                <option value="septiembre">septiembre</option>
                <option value="octubre">octubre</option>
                <option value="noviembre">noviembre</option>
                <option value="diciembre">diciembre</option>
            </select>
        </div>

        <div class="form-group col-md-2">
            <label for="diaHasta" class="mini"><small>Día</small></label>
            <select id="diaHasta" class="form-control" name="diaHasta">
                <option selected value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="anioHasta" class="mini"><small>Año</small></label>
            <select id="anioHasta" class="form-control" name="anioHasta">
                <option value="2021">2021</option>
                <option selected value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
            </select>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Clasificar tweets">
</form>

<br>
<br>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Resultados</h1>
</div>
<br>

<div>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ayuda-tab" data-toggle="tab" href="#ayuda" role="tab"
                        aria-controls="ayuda" aria-selected="true">Pedidos de ayuda</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="quejas-tab" data-toggle="tab" href="#quejas" role="tab"
                        aria-controls="quejas" aria-selected="false">Quejas</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ofertas-tab" data-toggle="tab" href="#ofertas" role="tab"
                        aria-controls="ofertas" aria-selected="false">Ofertas</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="ayuda" role="tabpanel" aria-labelledby="ayuda-tab">
                    <ol>
                        {% for ayuda in pedidosAyuda %}
                        <li>{{ayuda}}</li>
                        {% empty %}
                        <small>No hay tweets que pertenezcan a esta categoría</small>
                        {% endfor %}
                    </ol>
                </div>
                <div class="tab-pane fade" id="quejas" role="tabpanel" aria-labelledby="quejas-tab">
                    <ol>
                        {% for queja in quejas %}
                        <li>{{queja}}</li>
                        {% empty %}
                        <small>No hay tweets que pertenezcan a esta categoría</small>
                        {% endfor %}
                    </ol>
                </div>

                <div class="tab-pane fade" id="ofertas" role="tabpanel" aria-labelledby="ofertas-tab">
                    <ol>
                        {% for oferta in ofertas %}
                        <li>{{oferta}}</li>
                        {% empty %}
                        <small>No hay tweets que pertenezcan a esta categoría</small>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<br>



{% endblock %}